{% extends 'verb-base.html' %}
{% block title %}Verb List{% endblock %}
{% block content %}


{{ verb }}<br/>
<i>{{ verb.english }}</i>
<hr/>
Verbal Noun: {{ verb.verbalNoun }}<br/>
Verbal Adjective: {{ verb.verbalAdjective }}<br/><br/>

Simple Past
<hr>
Singular<br/>
<table class = "table table-bordered">
    <tr>
    <th>Independent</th>
    <th>Interrogative</th>
    <th>Negative</th>
</tr>
<tr>
    <td>
        {{ verb.simplePast1stPersonSingInd }} 
    </td>
    <td>
        {{ verb.simplePast1stPersonSingInter }} 
    </td>
    <td>
        {{ verb.simplePast1stPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.simplePast2ndPersonSingInd }} 
    </td>
    <td>
        {{ verb.simplePast2ndPersonSingInter }} 
    </td>
    <td>
        {{ verb.simplePast2ndPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.simplePast3rdPersonSingInd }} 
    </td>
    <td>
        {{ verb.simplePast3rdPersonSingInter }} 
    </td>
    <td>
        {{ verb.simplePast3rdPersonSingNeg }}
    </td>
</tr>
</table>
Plural<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.simplePast1stPersonPlInd }} 
    </td>
    <td>
        {{ verb.simplePast1stPersonPlInter }} 
    </td>
    <td>
        {{ verb.simplePast1stPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.simplePast1stPersonPlIndAlt }} 
    </td>
    <td>
        {{ verb.simplePast1stPersonPlInterAlt }} 
    </td>
    <td>
        {{ verb.simplePast1stPersonPlNegAlt }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.simplePast2ndPersonPlInd }} 
    </td>
    <td>
        {{ verb.simplePast2ndPersonPlInter }} 
    </td>
    <td>
        {{ verb.simplePast2ndPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.simplePast3rdPersonPlInd }} 
    </td>
    <td>
        {{ verb.simplePast3rdPersonPlInter }} 
    </td>
    <td>
        {{ verb.simplePast3rdPersonPlNeg }}
    </td>
</tr>
</table>
Impersonal<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.simplePastImpersonalPos }} 
    </td>
    <td>
        {{ verb.simplePastImpersonalInter }} 
    </td>
    <td>
        {{ verb.simplePastImpersonalNeg }}
    </td>
</tr>
</table>

Present
	<hr>
Singular<br/>
<table class = "table table-bordered">
    <tr>
    <th>Independent</th>
    <th>Interrogative</th>
    <th>Negative</th>
</tr>
<tr>
    <td>
        {{ verb.present1stPersonSingInd }} 
    </td>
    <td>
        {{ verb.present1stPersonSingInter }} 
    </td>
    <td>
        {{ verb.present1stPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.present2ndPersonSingInd }} 
    </td>
    <td>
        {{ verb.present2ndPersonSingInter }} 
    </td>
    <td>
        {{ verb.present2ndPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.present3rdPersonSingInd }} 
    </td>
    <td>
        {{ verb.present3rdPersonSingInter }} 
    </td>
    <td>
        {{ verb.present3rdPersonSingNeg }}
    </td>
</tr>
</table>
Plural<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.present1stPersonPlIndAlt }} 
    </td>
    <td>
        {{ verb.present1stPersonPlInterAlt }} 
    </td>
    <td>
        {{ verb.present1stPersonPlNegAlt }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.present1stPersonPlInd }} 
    </td>
    <td>
        {{ verb.present1stPersonPlInter }} 
    </td>
    <td>
        {{ verb.present1stPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.present2ndPersonPlInd }} 
    </td>
    <td>
        {{ verb.present2ndPersonPlInter }} 
    </td>
    <td>
        {{ verb.present2ndPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.present3rdPersonPlInd }} 
    </td>
    <td>
        {{ verb.present3rdPersonPlInter }} 
    </td>
    <td>
        {{ verb.present3rdPersonPlNeg }}
    </td>
</tr>
</table>
Impersonal<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.presentImpersonalPos }} 
    </td>
    <td>
        {{ verb.presentImpersonalInter }} 
    </td>
    <td>
        {{ verb.presentImpersonalNeg }}
    </td>
</tr>
</table>

Future
<hr>
Singular<br/>
<table class = "table table-bordered">
    <tr>
    <th>Independent</th>
    <th>Interrogative</th>
    <th>Negative</th>
</tr>
<tr>
    <td>
        {{ verb.future1stPersonSingInd }} 
    </td>
    <td>
        {{ verb.future1stPersonSingInter }} 
    </td>
    <td>
        {{ verb.future1stPersonSingNeg }}
    </td>
</tr>
    <td>
        {{ verb.future2ndPersonSingInd }} 
    </td>
    <td>
        {{ verb.future2ndPersonSingInter }} 
    </td>
    <td>
        {{ verb.future2ndPersonSingNeg }} 
    </td>
<tr>
    <td>
        {{ verb.future3rdPersonSingInd }} 
    </td>
    <td>
        {{ verb.future3rdPersonSingInter }} 
    </td>
    <td>
        {{ verb.future3rdPersonSingNeg }}
    </td>
</tr>
</table>
Plural<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.future1stPersonPlIndAlt }} 
    </td>
    <td>
        {{ verb.future1stPersonPlInterAlt }} 
    </td>
    <td>
        {{ verb.future1stPersonPlNegAlt }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.future1stPersonPlInd }} 
    </td>
    <td>
        {{ verb.future1stPersonPlInter }} 
    </td>
    <td>
        {{ verb.future1stPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.future2ndPersonPlInd }} 
    </td>
    <td>
        {{ verb.future2ndPersonPlInter }} 
    </td>
    <td>
        {{ verb.future2ndPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.future3rdPersonPlInd }} 
    </td>
    <td>
        {{ verb.future3rdPersonPlInter }} 
    </td>
    <td>
        {{ verb.future3rdPersonPlNeg }} 
    </td>
</tr>
</table>
Impersonal<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.futureImpersonalPos }} 
    </td>
    <td>
        {{ verb.futureImpersonalInter }} 
    </td>
    <td>
        {{ verb.futureImpersonalNeg }} 
    </td>
</tr>
</table>

Conditional
<hr>
Singular<br/>
<table class = "table table-bordered">
<tr>
    <th>Independent</th>
    <th>Interrogative</th>
    <th>Negative</th>
</tr>
<tr>
    <td>
        {{ verb.conditional1stPersonSingInd }} 
    </td>
    <td>
        {{ verb.conditional1stPersonSingInter }} 
    </td>
    <td>
        {{ verb.conditional1stPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.conditional2ndPersonSingInd }} 
    </td>
    <td>
        {{ verb.conditional2ndPersonSingInter }}
    </td>
    <td>
        {{ verb.conditional2ndPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.conditional3rdPersonSingInd }} 
    </td>
    <td>
        {{ verb.conditional3rdPersonSingInter }} 
    </td>
    <td>
        {{ verb.conditional3rdPersonSingNeg }} 
    </td>
</tr>
</table>
Plural<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.conditional1stPersonPlIndAlt }} 
    </td>
    <td>
        {{ verb.conditional1stPersonPlInterAlt }} 
    </td>
    <td>
        {{ verb.conditional1stPersonPlNegAlt }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.conditional1stPersonPlInd }} 
    </td>
    <td>
        {{ verb.conditional1stPersonPlInter }} 
    </td>
    <td>
        {{ verb.conditional1stPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.conditional2ndPersonPlInd }} 
    </td>
    <td>
        {{ verb.conditional2ndPersonPlInter }} 
    </td>
    <td>
        {{ verb.conditional2ndPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.conditional3rdPersonPlIndAlt }} 
    </td>
    <td>
        {{ verb.conditional3rdPersonPlInterAlt }} 
    </td>
    <td>
        {{ verb.conditional3rdPersonPlNegAlt }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.conditional3rdPersonPlInd }} 
    </td>
    <td>
        {{ verb.conditional3rdPersonPlInter }} 
    </td>
    <td>
        {{ verb.conditional3rdPersonPlNeg }}
    </td>
</tr>
</table>
Impersonal<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.conditionalImpersonalPos }} 
    </td>
    <td>
        {{ verb.conditionalImpersonalInter }} 
    </td>
    <td>
        {{ verb.conditionalImpersonalNeg }}
    </td>
</tr>
</table>
Habitual Past
<hr>
Singular<br/>
<table class = "table table-bordered">
<tr>
    <th>Independent</th>
    <th>Interrogative</th>
    <th>Negative</th>
</tr>
<tr>
    <td>
        {{ verb.habitualPast1stPersonSingInd }}
    </td>
    <td>
        {{ verb.habitualPast1stPersonSingInter }}
    </td>
    <td>
        {{ verb.habitualPast1stPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.habitualPast2ndPersonSingInd }} 
    </td>
    <td>
        {{ verb.habitualPast2ndPersonSingInter }} 
    </td>
    <td>
        {{ verb.habitualPast2ndPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.habitualPast3rdPersonSingInd }} 
    </td>
    <td>
        {{ verb.habitualPast3rdPersonSingInter }}
    </td>
    <td>
        {{ verb.habitualPast3rdPersonSingNeg }}
    </td>
</tr>
</table>
Plural<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.habitualPast1stPersonPlIndAlt }}
    </td>
    <td>
        {{ verb.habitualPast1stPersonPlInterAlt }} 
    </td>
    <td>
        {{ verb.habitualPast1stPersonPlNegAlt }}
    </td>
</tr>
    <td>
        {{ verb.habitualPast1stPersonPlInd }} 
    </td>
    <td>
        {{ verb.habitualPast1stPersonPlInter }} 
    </td>
    <td>
        {{ verb.habitualPast1stPersonPlNeg }}
    </td>
<tr>
    <td>
        {{ verb.habitualPast2ndPersonPlInd }}
    </td>
    <td>
        {{ verb.habitualPast2ndPersonPlInter }} 
    </td>
    <td>
        {{ verb.habitualPast2ndPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.habitualPast3rdPersonPlIndAlt }} 
    </td>
    <td>
        {{ verb.habitualPast3rdPersonPlInterAlt }} 
    </td>
    <td>
        {{ verb.habitualPast3rdPersonPlNegAlt }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.habitualPast3rdPersonPlInd }} 
    </td>
    <td>
        {{ verb.habitualPast3rdPersonPlInter }} 
    </td>
    <td>
        {{ verb.habitualPast3rdPersonPlNeg }}
    </td>
</tr>
</table>
Impersonal<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.habitualPastImpersonalPos }} 
    </td>
    <td>
        {{ verb.habitualPastImpersonalInter }} 
    </td>
    <td>
        {{ verb.habitualPastImpersonalNeg }}
    </td>
</tr>
</table>
Imperative
	<hr>
Singular<br/>
<table class = "table table-bordered">
<tr>
    <th>Independent</th>
    <th>Negative</th>
</tr>
<tr>
    <td>
        {{ verb.imperative1stPersonSingInd }} 
    </td>
    <td>
        {{ verb.imperative1stPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.imperative2ndPersonSingInd }}
    </td>
    <td>
        {{ verb.imperative2ndPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.imperative3rdPersonSingInd }}
    </td> 
    <td>
        {{ verb.imperative3rdPersonSingNeg }}
    </td>
</tr>
</table>
Plural<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.imperative1stPersonPlInd }} 
    <td>
    <td>
        {{ verb.imperative1stPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.imperative1stPersonPlIndAlt }} 
    </td>
    <td>
        {{ verb.imperative1stPersonPlNegAlt }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.imperative2ndPersonPlInd }}
    </td>
    <td>
        {{ verb.imperative2ndPersonPlNeg }} 
    </td>
</tr>
<tr>
    <td>
        {{ verb.imperative3rdPersonPlInd }}
    </td>
    <td>
        {{ verb.imperative3rdPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.imperative3rdPersonPlIndAlt }}
    </td>
    <td>
        {{ verb.imperative3rdPersonPlNegAlt }}
    </td>
</tr>
</table>

Impersonal
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.imperativeImpersonalPos }}
    </td>
    <td>
        {{ verb.imperativeImpersonalNeg }}
    </td>
</tr>
</table>
Present Subjunctive
	<hr>
Singular<br/>
<table class = "table table-bordered">
<tr>
	<th>Independent</th>
	<th>Negative</th>
</tr>
<tr>
    <td>
        {{ verb.presentSubjunctive1stPersonSingInd }} 
    </td>
    <td>
        {{ verb.presentSubjunctive1stPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.presentSubjunctive2ndPersonSingInd }}
    </td>
    <td>
        {{ verb.presentSubjunctive2ndPersonSingNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.presentSubjunctive3rdPersonSingInd }}
    </td>
    <td>
        {{ verb.presentSubjunctive3rdPersonSingNeg }}
    </td>
</tr>
</table>
Plural<br/>
<table class = "table table-bordered">
<tr>
    <td>
        {{ verb.presentSubjunctive1stPersonPlInd }}
    </td>
    <td>
        {{ verb.presentSubjunctive1stPersonPlNeg }}
    </td>

</tr>
    <td>
        {{ verb.presentSubjunctive1stPersonPlIndAlt  }}
    </td>
    <td>
        {{ verb.presentSubjunctive1stPersonPlNegAlt  }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.presentSubjunctive2ndPersonPlInd }}
    </td>
    <td>
        {{ verb.presentSubjunctive2ndPersonPlNeg }}
    </td>
</tr>
<tr>
    <td>
        {{ verb.presentSubjunctive3rdPersonPlInd }}
    </td>
    <td>
        {{ verb.presentSubjunctive3rdPersonPlNeg }}
    </td>
</tr>
</table>
Impersonal<br/>
<table class = "table table-bordered">
<tr>
	<td>
        {{ verb.presentSubjunctiveImpersonalPos }} 
    </td>
    <td>
        {{ verb.presentSubjunctiveImpersonalNeg }}
    </td>
</tr>
</table>
<br/> <br/>
{% endblock %}
